[submodule "dotbot"]
	path = .dotbot
	url = https://github.com/anishathalye/dotbot.git
[submodule "vim/bundle/Vundle.vim"]
	path = vim/bundle/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim.git
[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule "asdf"]
	path = asdf
	url = git@github.com:asdf-vm/asdf.git
